body {
	font-weight: normal;
}

#container {
	position: fixed;
	left: 750px;
	right: 20px;
	//-webkit-animation: funkycolors 2s linear 0s infinite alternate;
	//animation: funkycolors 2s linear 0s infinite alternate;
}

b {font-weight: bold;}

h3 {
	color: purple;
}

.cursor {
	color: blue;
}

@-webkit-keyframes funkycolors {
	0% { color: #36E6F5; border-color: #36E6F5;}
	25% { color: #444; border-color: #444;}
	50% { color: #FA558A; border-color: #FA558A;}
	75% { color: #444; border-color: #444;}
	100% { color: #A0D335; border-color: #A0D335; }
}

@-moz-keyframes funkycolors {
	0% { color: #36E6F5; border-color: #36E6F5;}
	25% { color: #444; border-color: #444;}
	50% { color: #FA558A; border-color: #FA558A;}
	75% { color: #444; border-color: #444;}
	100% { color: #A0D335; border-color: #A0D335; }
}